.nav-bar-container {
	position: relative;
	height: 95px;
	background-color: #0a5cab;
}

.logo-container {
	position: relative;

	height: 100%;

	margin-left: 15px;
	float: left;
}

.logo-container img {
	width: 300px;
	position: relative;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.drop-down-buttons-container {
	position: relative;
	height: 80%;

	top: 50%;
	transform: translateY(-50%);

	float: left;
	display: flex;
	margin-left: 50px;
}
